body{
    font: 14px "맑은 고딕";
}
.container{
    width: 960px;
    margin: 0 auto;
}
header{
    height: 280px;
    font-size: 3em;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-position: left top;
    position: relative;
}
header h1{
    position: absolute;/* header기준 top left속성줄거야*/
    right: 20px;
    bottom: 70px;
    font-size: 1.5em;
    color: white;
}
header>h2{
    position: absolute;
    right: 10px;
    bottom: -5px;
    font-size: 1.5em;
    color: rgb(225, 238, 250);
}
nav.navi{
    background-color: #271717;
    height: 50px;
    position: relative;
    top:-14px;
}
nav.navi>ul{
    list-style-type: none;
    padding-top: 15px;
    text-align: center;
}
nav.navi>ul>li{
    display: inline-block;
    width: 100px;
    margin-right: 100px;
}
nav.navi>ul>li>a{
    color: aliceblue;
    text-decoration: none;
}
.navi a:hover{
    text-shadow: 0px 2px 2px black;
    color: #fc0;
}
.content{
    width: 720px;
    float: left;
    padding: 3px 0 0 10px;
}
aside.sidebar{
    float: right;
    width: 210px;
    padding: 10px 10px 5px 5px;
}
aside.sidebar img{
    opacity: 0.5;
}
aside.sidebar img:hover{
    opacity: 1;
}
footer{
    clear: both;
    background-color: #030;
    color: azure;
    text-align: center;
    padding: 5px 0;
    line-height: 0;
}